body {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container {
  max-width: 1200px;
  padding: 0 25px;
  margin: 0 auto;
}

.not-found {
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}

.wrapper {
  padding: 40px 0;
}

.title {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 40px;
}

.link-back {
  transition: all 0.3s;
  position: relative;
  display: inline-block;
  padding: 4px 10px 4px 26px;
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #337ab7;
}

.link-back:hover {
  text-decoration: none;
  color: #337ab7;
  opacity: 0.6;
}

.link-back:active {
  opacity: 0.3;
}

.link-back:focus {
  text-decoration: none;
  color: #337ab7;
}

.link-back:after, .link-back:before {
  position: absolute;
  content: '';
  left: 4px;
  top: 52%;
}

.link-back:before {
  width: 14px;
  height: 1px;
  background-color: #337ab7;
  transform: translateY(-50%);
}

.link-back:after {
  width: 7px;
  height: 7px;
  border: 1px solid #337ab7;
  border-bottom: none;
  border-left: none;
  transform: translateY(-50%) rotate(-135deg);
}